@font-face {
    font-family: "Hello Day";
    src: url("../font/HelloDay-Regular.eot");
    src: url("../font/HelloDay-Regular.eot?#iefix") format("embedded-opentype"),
        url("../font/HelloDay-Regular.woff2") format("woff2"),
        url("../font/HelloDay-Regular.woff") format("woff"),
        url("../font/HelloDay-Regular.ttf") format("truetype"),
        url("../font/HelloDay-Regular.svg#HelloDay-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Tahoma", sans-serif;
}

.title {
    font-family: "Hello Day", sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.title_font {
    font-size: 1rem;
    text-align: center;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar_right {
    display: block;
    color: #16a085;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.button_sale {
    background-color: rgba(249, 165, 169, 0.62);
    color: #bf0000;
    border-radius: 5px;
    border: solid black 1px;
}

.form-select {
    width: 40%;
}

.footer_right a {
    text-decoration: none;
    color: black;
}

.border_title {
    border-bottom: solid 1px;
}

